analysis_yoy_analysis_2020.csv filter=lfs diff=lfs merge=lfs -text
analysis_yoy_analysis_2021.csv filter=lfs diff=lfs merge=lfs -text
analysis_yoy_analysis_2022.csv filter=lfs diff=lfs merge=lfs -text
analysis_yoy_analysis_2023.csv filter=lfs diff=lfs merge=lfs -text
analysis_yoy_analysis_2024.csv filter=lfs diff=lfs merge=lfs -text
